body {
    background-color: lightslategrey;
    font-family: sans-serif;
}

.box {
    width: 75%;
    border: 1px solid grey;
    border-radius: 10px;
    margin: auto;
    background-color: white;
    padding: 1em;
}

.box-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;

}

li {

    display: inline-block;
    margin: 1px;
    text-align: right;
    padding-right: 1px;


}

ul {
    display: inline;
    width: 60%;
    margin: auto;
    padding: inherit;
    text-align: justify;



}

.box1 {
    flex-grow: 1;
}


}

.container {
    padding: 12px;
    height: 50px;
    width: 200px;
}

.contenidor-imatge {
    text-align: center;
}

.imgs {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .imgs {
        width: 500px;
    }
}

.color1 {
    background-color: whitesmoke;
    flex: 1;
    border-radius: 20px;
    margin: 4px;
    padding: 12px;
    text-align: center;
    border: 1px solid grey;
}

.color1:hover {
    background-color: whitesmoke;
    flex: 1;
    border-radius: 20px;
    margin: 4px;
    padding: 12px;
    text-align: center;
     border: 3px solid grey;
}

.color2 {
    background-color: whitesmoke;
    flex: 1;
    border-radius: 20px;
    margin: 4px;
    padding: 12px;
    text-align: center;
    border: 1px solid grey;
}

.color2:hover {
    background-color: whitesmoke;
    flex: 1;
    border-radius: 20px;
    margin: 4px;
    padding: 12px;
    text-align: center;
    border: 3px solid grey;
}

.color3 {
    background-color: whitesmoke;
    flex: 1;
    border-radius: 20px;
    margin: 4px;
    padding: 12px;
    text-align: center;
    border: 1px solid grey;

}

.color3:hover {
    background-color: whitesmoke;
    flex: 1;
    border-radius: 20px;
    margin: 4px;
    padding: 12px;
    text-align: center;
    border: 3px solid grey;

}

.color4 {
    
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
}

.footer{
    display:flex;
    position: fixed;
    bottom: 0%;
    left:0%;  
    padding: 12px;
    justify-content: center; 
    width:100%;
    background-color: black;
    
}


